<p>
  Turns Left: <%= @tally.turns_left %>
</p>

<h4>
  Your Word: <%= @tally. letters |> Enum.join( " ") %>
</h4>

<%= if game_over?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [ as: :make_move, method: :put], fn f -> %>
    <%= text_input( f, :guess) %>
    <%= submit("Guess a Letter") %>
  <% end) %>
<% end %>
